.button.MuiButton-root {
  margin: 1rem;
}

.results-terminal {
  margin: 0 auto;
  margin-top: 5rem;
  margin-bottom: 10rem;
  height: 80vh;
}

.params-editor {
  resize: both;
  overflow: hidden;
  height: 30vh;
  width: 80%;
  margin: 0 auto;
  > section {
    margin: 0 auto;
  }
}
