.button.MuiButton-root {
  margin: 1rem;
}

.results-terminal {
  margin: 0 auto;
  margin-top: 5rem;
  margin-bottom: 10rem;
  height: 80vh;
}

.params-editor {
  height: 30vh;
  width: 80%;
  resize: both;
  overflow: hidden;
}

section {
  margin: 0 auto;
}
